<html>

<body>
    <div>
        <h1>Enter Data:</h1>
        <hr>
        <form action="/save" method="POST" object="contact">
            Name: <input type="input" name="name" id="name">
            Email: <input type="input" name="email" id="email">
            Phone Number: <input type="input" name="phone" id="phone">
            Date Of Birth: <input type="input" name="dob" id="dob">
            <button type="submit">Save Data</button>
        </form>

        <h2>
    </div>
</body>

</html>